@model CatalogItemWithDiscount


<form asp-controller="Cart" asp-action="AddToCart">

    <img class="esh-catalog-thumbnail" src="@Model.CatalogItem.PictureUri" />
    <input class="esh-catalog-button @((!User.Identity.IsAuthenticated) ? "is-disabled" : "")" type="submit" value="[ ADD TO CART ]" />

    <div class="esh-catalog-name">
        <span>@Model.CatalogItem.Name</span>
    </div>
    <div class="esh-catalog-price">
        <span>@Model.CatalogItem.Price.ToString("N2")</span>
    </div>
    
    @if (Model.Discount != null && Model.Discount.DiscountValue > 0) {
        <div class="esh-item-discount">
            <span>Discount: @Model.Discount.DiscountValue %</span>
        </div>
    }
    
    <input type="hidden" asp-for="@Model.CatalogItem.Id" name="id" />
</form>
